
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src = "static/js/main.js"></script>
    <link rel = "stylesheet" href = "static/css/main.css"/>

  </head>
  <body>
    <div class = "container">
      <div class="input-group ">
          <input id = "searchBar" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="search">
          <span class="input-group-addon" onclick = "submitSearch()">Search</span>
     </div>
     <div id = "dropDown">
       <ul></ul>
     </div>
   </div>
  </body>
</html>
